<div class="h-[500px] flex justify-center items-center">
    <button class="bg-[red] h-[50px] w-[125px] text-xl rounded-lg cursor-pointer transition-[8.0s] relative overflow-hidden text-[white] z-[1] before:absolute before:w-full before:h-[0%] before:z-[2] before:duration-1000 before:rounded-[50%_50%_0_0] before:left-0 before:bottom-0 hover:before:h-[180%] before:bg-[#0a303a]">
    <p class="relative z-[3]">Hover Me</p>
    </button>
    <!-- <div class="bg-[#ab7979]"></div> -->

</div>

<style>

/* .btn {
  @apply bg-[red] text-xl cursor-pointer transition-[8.0s] relative overflow-hidden text-[white] z-[1] m-2.5 px-5 py-2.5 rounded-lg before:content-[""] before:absolute before:w-full before:h-[0%] before:z-[2] before:duration-1000 before:rounded-[50%_50%_0_0] before:left-0 before:bottom-0 hover:before:h-[180%];
}
.btn::before {
  background: #0a303a;
}
.btn p {
  @apply relative z-[3] ;
} */

</style>