---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div class="relative md:static top-[-5vh]">
        <!--Card  -->
        <div class="w-screen h-[40vh] md:h-[50vh] bg-[url('/assets/breeder_details/BreederTop.jpg')] bg-cover bg-no-repeat flex flex-col justify-center gap-3">
            <h2 class="ml-[3%] w-[200px] md:w-[225px] p-3 text-white text-3xl md:text-4xl font-black bg-redish rounded-lg flex justify-start items-center">Contact Us</h2>
            <div class="ml-[3%] p-3">
                <a href="#" class="font-bold text-lg text-redish "> Home </a><a class="p-3 font-bold text-lg text-redish">|</a>
                <a href="#" class=" font-bold text-lg text-white capitalize">Contact Us</a>
            </div>
        </div>
        <!--contact us  -->
        <div class="bg-white flex flex-col-reverse items-center justify-center h-[200%] w-[100vw] md:flex-row md:h-[110%] md:w-[100%] mt-[5vh]">
            <div class=" rounded-lg h-[90vh] w-[90vw] space-y-[2vh] md:h-[100vh] md:w-[55vw] mt-[50px] md:mt-0 flex flex-col justify-center">
                <div class=" w-[80vw] ml-[2vw] space-y-[1vh] md:h-[] md:w-[]">
                    <div class=" flex-col">
                        <div><p class="text-3xl font-semibold text-[#0a303a]">Contact Us</p></div>
                        <div><p class="text-4xl font-bold text-[#0a303a]">Let's Talk Question..</p></div>
                    </div>
                    <div class="text-lg "> <p> The domestic dog is doiated dendant of the wolf .The dog derived <br> from an ancient,extinct wolf,and the modern grey</p></div><br/>
                    <div class="">
                        <label for="message" class="block font-semibold text-[#0a303a]" >Your name *</label>
                        <input type="text" placeholder="name.." class="w-[85vw] h-[7vh] bg-[#f5f5f5] pl-5 mt-2 rounded-md shadow-lg md:h-[6vh] md:w-[50vw]"><br/>
                    </div>
                    <div class="">
                        <label for="message" class="block  font-semibold text-[#0a303a]">Your name *</label>
                        <input type="email" placeholder="info.example@.com" class="w-[85vw] h-[7vh] bg-[#f5f5f5] pl-5 mt-2 rounded-md shadow-lg md:h-[6vh] md:w-[50vw]"><br/>
                    </div>
                    <div class="">
                        <label for="message" class="block  font-semibold text-[#0a303a]">Your message*</label>
                        <textarea name="feedback" placeholder="Opinion" class="w-[85vw] h-[20vh] bg-[#f5f5f5] pl-5 mt-2 rounded-md shadow-lg md:h-[] md:w-[50vw] "></textarea><br/>
                    </div>           
                </div>
                <div class="ml-[2vw]">
                    <input type="checkbox" class=""/>Don't show your email address
                </div>
                <div class="ml-[2vw]">
                    <a href="/" class="text-base font-semibold text-white h-[6vh] w-[25vw] bg-red-700 hover:bg-[#0a303a] rounded-lg flex justify-center items-center md:h-[5vh] md:w-[8vw]">Send Now</a>
                </div>
        
            </div>
            <div class="bg-[#f2f2f2] shadow-md h-[80vh] w-[80vw] rounded-lg flex flex-col items-center justify-around md:h-[100vh] md:w-[30vw]">
        
                <div class="bg-[url('/assets/contact_img.png')] bg-center bg-cover bg-no-repeat h-[45vw] w-[43vw] mt-[10%] rounded-lg p-1 md:h-[20vw] md:w-[19vw] md:mt-[0%]"></div>
                <ul class="flex flex-col items-center justify-evenly h-[40vw] w-[80vw] md:h-[35vh] md:w-[30vw] ">  
                    <div class="flex justify-center item-center text-[#4c4c4c] space-x-4">
                        <div class="bg-white h-[35px] w-[35px] rounded-full shadow-2xl flex items-center justify-center mt-[3vw] md:mt-[0px] "><i class="fa fa-map-marker" style="font-size:24px;color:red"></i></div>
                        <div class="h-[8vh] w-[50vw] md:h-[6%] md:w-[20vw] "><p>W84 New Park Lan, New York, NY 4586 United States.</p></div>
                    </div>
                    <div class="flex justify-center item-center text-[#4c4c4c] space-x-4 mt-[6vw] md:mt-0 ">
                        <div class="bg-white h-[35px] w-[35px] rounded-full shadow-2xl flex items-center justify-center"><i class="fa fa-phone" style="font-size:24px;color:red"></i></div>
                        <div class="h-[8vh] w-[50vw] md:h-[6%] md:w-[20vw] "><p>+9 (256) 254 9568</p></div>
                    </div>
                    <div class="flex justify-center item-center text-[#4c4c4c] space-x-4 ">
                        <div class="bg-white h-[35px] w-[35px] rounded-full shadow-2xl flex items-center justify-center "><i class="fa fa-envelope-open" style="font-size:17px;color:red"></i></div>
                        <div class="h-[8vh] w-[50vw] md:h-[6%] md:w-[20vw] "><p>Contact@ info.com</p></div>
                    </div>
                </ul>  
                <div class="flex justify-center items-center w-[80%] space-x-[3vw] md:mb-[2vh]">
                    <div class="bg-[#0165E1] h-[35px] w-[35px] rounded-full shadow-2xl flex justify-center items-center"><i style="font-size:24px;color:white;" class="fa">&#xf09a;</i></div>
                    <div class="bg-[#1D9BF0] h-[35px] w-[35px] rounded-full shadow-2xl flex justify-center items-center "><i style="font-size:24px;color:white;" class="fa">&#xf099;</i></div>
                    <div class="bg-[#0A66C2] h-[35px] w-[35px] rounded-full shadow-2xl flex justify-center items-center"><p class="text-white font-black text-normal">in</p></div>
                </div>
            </div>
        </div>
        <!--redcard newsletter -->
        <div class="h-[50vh] flex flex-col justify-center items-center md:flex-row mt-[10vh] md:mt-[5vh]">
            
            <img src="/assets/newsletter/newsletterback.png" alt="newsletterback" class="hidden md:block md:w-[10vw] md:h-[10vw]"/>
            <div class="bg-[url('/assets/newsletter/newsletterbg.jpg')] bg-cover bg-center bg-no-repeat border-black border-2 h-[45vh] w-[95vw] rounded-2xl flex flex-col justify-center items-center text-white text-center md:w-[70vw] md:h-[26vh] md:flex md:flex-row md:space-x-3 ">
                <div class="md:relative md:left-[-15px]">
                    <h2 class="text-4xl font-black relative top-[-25px] md:top-0 ">
                        Newsletter For
                    </h2>
                    <p class="text-lg  font-semibold relative top-[-25px] md:top-0">* Do Not Show Your Email.</p>
                </div>
                <input type="email" class="border-2 border-white rounded-lg w-[80vw] h-[7.5vh] bg-white md:w-[30vw] md:top-0 p-3 " placeholder="Enter your email address"/><br/>
                <a href="/" class="text-redish bg-white w-[170px] h-[63px] text-lg font-extrabold rounded-lg flex justify-evenly items-center cursor-pointer relative overflow-hidden z-[1] before:absolute before:w-full before:h-[0%] before:z-[2] before:duration-1000 before:rounded-[50%_50%_0_0] before:left-0 before:bottom-0 hover:before:h-[180%] before:bg-[#0a303a]">
                    <p class="relative z-[3]">Subscribe</p>
                </a>            
            </div>
            <img src="/assets/newsletter/newsletterfront.png" alt="newsletterback" class="hidden md:block md:w-[10vw] md:h-[10vw]"/>
            
        </div>
    </div>
</Layout>