---
import Layout from "../layouts/Layout.astro"
---

<div class="h-screen w-screen flex justify-center items-center">
    <div class="h-[80%] w-[70%] rounded-xl bg-[#D9D9D9] flex flex-col justify-evenly shadow-xl shadow-gray-700 border">
        <div class="flex justify-between items-center relative ">
            <dotlottie-player src="https://lottie.host/4ea57d0a-574b-4467-8adc-ec71ba15496e/axkPy2Y20H.lottie" background="transparent" speed="1" class="h-[250px] w-[250px] relative left-[-3%]" style="transform:rotateY(180deg);" loop autoplay></dotlottie-player>
            <h4 class="relative bottom-[-5%] text-4xl font-black border-dashed border-b-2 border-black ">Enter a New Password</h4>
            <dotlottie-player src="https://lottie.host/4ea57d0a-574b-4467-8adc-ec71ba15496e/axkPy2Y20H.lottie" background="transparent" speed="1" class="h-[250px] w-[250px] relative right-[-3%]" loop autoplay></dotlottie-player>
        </div>
        <div class="flex flex-col justify-between items-center h-[30%]">
            <div class="flex flex-col justify-around items-center  w-[100%] ">
                <p class="mb-[1%] font-extrabold text-xl ">Enter Password</p>
                <input type="password" class="px-3 w-[50%] h-[40px] rounded-sm" placeholder="Password..." required/>
            </div>
            <div class="flex flex-col justify-around items-center w-[100%]">
                <p class="mb-[1%]  font-extrabold text-xl ">Confirm Password</p>
                <input type="password" class="px-3 w-[50%] h-[40px] rounded-sm" placeholder="Confirm Password..." required/>
            </div>
        </div>
        <button type="submit" class="p-2 bg-blackish text-white text-lg font-semibold tracking-wider w-[15%] h-[7%] rounded-md relative ml-[42.5%]">Submit</button>
    </div>
</div>

<div  class="hidden"><Layout></Layout></div>
<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
<script is:inline>
    document.querySelector('button[type="submit"]').addEventListener('click', function(event) {
        const password = document.querySelector('input[placeholder="Password..."]').value;
        const confirmPassword = document.querySelector('input[placeholder="Confirm Password..."]').value;
        
        if (password !== confirmPassword) {
            event.preventDefault();
            customAlert('Passwords do not match!');
        }
        else if (password === '' || confirmPassword === '') {
            event.preventDefault();
            customAlert('Password fields cannot be empty!');
        }
    });

</script>