---
import Layout from "../layouts/Layout.astro";
import CustomAlert from "../components/CustomAlert.astro";
import Loader from "../components/Loader.astro";
---

<CustomAlert />
<Loader />
<div class="h-screen w-screen flex justify-center items-center">
    <form
        id="resetform"
        class="h-[80%] w-[70%] rounded-xl bg-[#D9D9D9] flex flex-col justify-evenly shadow-xl shadow-gray-700 border"
    >
        <div class="flex justify-between items-center relative">
            <dotlottie-player
                src="https://lottie.host/4ea57d0a-574b-4467-8adc-ec71ba15496e/axkPy2Y20H.lottie"
                background="transparent"
                speed="1"
                class="h-[250px] w-[250px] relative left-[-3%]"
                style="transform:rotateY(180deg);"
                loop
                autoplay></dotlottie-player>
            <h4
                class="relative bottom-[-5%] -mt-20 text-4xl font-black border-dashed border-b-2 border-black"
            >
                Enter a New Password
            </h4>
            <dotlottie-player
                src="https://lottie.host/4ea57d0a-574b-4467-8adc-ec71ba15496e/axkPy2Y20H.lottie"
                background="transparent"
                speed="1"
                class="h-[250px] w-[250px] relative right-[-3%]"
                loop
                autoplay></dotlottie-player>
        </div>
        <div class="flex flex-col -mt-24 justify-between items-center h-auto">
            <div class="flex flex-col justify-around items-center w-[100%]">
                <p class="mb-[1%] font-extrabold text-xl">Enter Password</p>
                <input
                    id="resetpass"
                    type="text"
                    class="px-3 w-[50%] h-[40px] rounded-md"
                    placeholder="Password..."
                    required
                />
            </div>
            <div class="flex flex-col justify-around items-center w-[100%]">
                <p class="mb-[1%] font-extrabold text-xl">Confirm Password</p>
                <input
                    id="resetconpass"
                    type="password"
                    class="px-3 w-[50%] h-[40px] rounded-md"
                    placeholder="Confirm Password..."
                    required
                />
            </div>
        </div>
        <button
            type="submit"
            class="p-2 bg-blackish text-white text-lg font-semibold tracking-wider w-[15%] h-[7%] rounded-md relative ml-[42.5%]"
            >Submit</button
        >
    </form>
</div>
<script
    src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
    type="module"></script>
<script is:inline>
    const ResetForm = document.getElementById("resetform");
    ResetForm.addEventListener("submit", async function (event) {
        event.preventDefault();
        const password = document.getElementById("resetpass").value;
        const confirmPassword = document.getElementById("resetconpass").value;
        if (password !== confirmPassword) {
            event.preventDefault();
            customAlert("Passwords do not match!");
        } else if (password === "" || confirmPassword === "") {
            event.preventDefault();
            customAlert("Password fields cannot be empty!");
        }

        if (password === confirmPassword) {
            try {
                const req = await fetch(
                    "https://backend.yourclaw.tech/api/users/reset-password",
                    {
                        method: "POST",
                        credentials: "include",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            token: "7eac3830ffcfc7f9f66c00315dabeb11575dba91",
                            password: "newPassword",
                        }),
                    },
                );
                const data = await req.json();
            } catch (err) {
                console.log(err);
            }
        }
    });
</script>
