---
import Layout from '../layouts/Layout.astro';
import LoginForMobile2 from '../components/Login/LoginForMobile2.astro';
import LoginForPc from '../components/Login/LoginForPc.astro';
---
<Layout>

    <div class="block md:hidden">
        <div class="relative md:static top-[-5vh]">
        <LoginForMobile2 />
        </div>
    </div>

    <div class="hidden md:block">
        <LoginForPc/>
    </div>
    
</Layout>