---
import Layout from "../layouts/Layout.astro";
// import { checkAuth } from '../utils/auth';

const token = Astro.cookies.get('payload-token')?.value;
// console.log('trry page',token);

// const isAuthenticated = await checkAuth(token);

// if (!isAuthenticated) {
//   return Astro.redirect('/Login');
// }


// const apifetch = await fetch("https://claw-backend-omega.vercel.app/api/media");
// const apidata = await apifetch.json();
// // console.log("API Data:", apidata);
// console.log("API Data of tryyy:", apidata);
---

<Layout>
    <div class="max-w-md mx-auto mt-20">
        <form id="userForm" enctype="multipart/form-data">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="alttext" name="name" required />
            </div>
            <!-- <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
        </div> -->
            <div>
                <label for="profileImage">Profile Image:</label>
                <input
                    type="file"
                    id="profileImage"
                    name="image"
                    accept="image/*"
                    required
                />
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</Layout>
<script is:inline>
    const form = document.getElementById("userForm");

    form.addEventListener("submit", async (event) => {
        event.preventDefault();

        const formData = new FormData(form);
        console.log("Form Data:", formData);
        formData.append("alttext", document.getElementById("alttext").value);
        formData.append("image", document.getElementById("profileImage").files[0]);
        try {
            // API request
            const response = await fetch("http://localhost:3000/api/test", {
                method: "POST",
                body: formData,
            });

            const result = await response.json();
                console.log("Form submitted successfully:", result);
        } catch (error) {
            console.error("Error:", error);
        }
    });
</script>
