<!-- Horizontal Text Slider -->
<div
class="overflow-hidden bg-[#181a21] py-5 text-3xl font-semibold leading-[1.4] tracking-[1px] h-[17vh] w-screen flex items-center"
>
<!-- Horizontal Slider Block-->
<div class="horizontal-slide-from-right-to-left flex gap-x-[30px]">
    <!--Logo And Name-->
    <span class="flex whitespace-nowrap text-white items-center">Brand01</span>
    <img
        src="/assets/brands/brand01.png"
        alt="Brand01" class="w-[50px] h-[40px] flex items-center"
    />
    <span class="flex whitespace-nowrap text-white items-center">Brand02</span>
    <img
        src="/assets/brands/brand02.png"
        alt="Brand02" class="w-[60px] h-[35px]"
    />
    <span class="flex whitespace-nowrap text-white items-center">Brand03</span>
    <img
        src="/assets/brands/brand03.png"
        alt="Brand03" class="w-[60px] h-[35px]"
    />
    <span class="flex whitespace-nowrap text-white items-center">Brand04</span>
    <img
        src="/assets/brands/brand04.png"
        alt="Brand04" class="w-[50px] h-[35px]"
    />
    <span class="flex whitespace-nowrap text-white items-center">Brand05</span>
    <img
        src="/assets/brands/brand05.png"
        alt="Brand05" class="w-[37px] h-[35px]"
    />
    <span class="flex whitespace-nowrap text-white items-center">Brand06</span>
    <img
        src="/assets/brands/brand06.png"
        alt="Brand06" class="w-[40px] h-[35px]"
    />
    <!--Repeat -->
    <span class="flex whitespace-nowrap text-white items-center">Brand01</span>
    <img
        src="/assets/brands/brand01.png"
        alt="Brand01" class="w-[50px] h-[40px] flex items-center"
    />
    <span class="flex whitespace-nowrap text-white items-center">Brand02</span>
    <img
        src="/assets/brands/brand02.png"
        alt="Brand02" class="w-[60px] h-[35px]"
    />
    <span class="flex whitespace-nowrap text-white items-center">Brand03</span>
    <img
        src="/assets/brands/brand03.png"
        alt="Brand03" class="w-[60px] h-[35px]"
    />
    <span class="flex whitespace-nowrap text-white items-center">Brand04</span>
    <img
        src="/assets/brands/brand04.png"
        alt="Brand04" class="w-[50px] h-[35px]"
    />
    <span class="flex whitespace-nowrap text-white items-center">Brand05</span>
    <img
        src="/assets/brands/brand05.png"
        alt="Brand05" class="w-[37px] h-[35px]"
    />
    <span class="flex whitespace-nowrap text-white items-center">Brand06</span>
    <img
        src="/assets/brands/brand06.png"
        alt="Brand06" class="w-[40px] h-[35px]"
    />

</div>
<!-- Horizontal Slider Block-->
</div>
<!-- Horizontal Text Slider -->
<style>
.horizontal-slide-from-right-to-left {
  animation: horizontal-slide-from-right-to-left linear 10s infinite;
}
@keyframes horizontal-slide-from-right-to-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
</style>