---

---

<!-- Navigation Bar for pc-->
<div class="hidden lg:block">
  <nav id="navbarpc" class="relative md:h-[13vh]">
    <div
      class="bg-[#ffffff] text-[#f04336] flex justify-around items-center md:h-[15vh] text-xl w-screen relative z-30"
    >
      <a
        class="bg-[url('../assets/Logo.png')] bg-cover h-[59%] w-[9%] cursor-not-allowed"
      ></a>

      <div id="link" class="w-[40%] flex justify-evenly items-center">
        <a
          href="/"
          class="group text-2xl font-extrabold text-redish hover:text-blackish"
        >
          Home <div
            class="bg-blackish h-[2px] w-0 group-hover:w-full transition-all duration-500"
          >
          </div></a
        >
        <a
          href="/profile"
          class="group text-2xl font-extrabold text-redish hover:text-blackish"
        >
          Profile <div
            class="bg-blackish h-[2px] w-0 group-hover:w-full transition-all duration-500"
          >
          </div></a
        >
        <a
          href="/dog-list"
          class="group text-2xl font-extrabold text-redish hover:text-blackish"
        >
          Dog List <div
            class="bg-blackish h-[2px] w-0 group-hover:w-full transition-all duration-500"
          >
          </div></a
        >
        <a
          href="/blog-list"
          class="group text-2xl font-extrabold text-redish hover:text-blackish"
        >
          Blog <div
            class="bg-blackish h-[2px] w-0 group-hover:w-full transition-all duration-500"
          >
          </div></a
        >
        <a
          href="/contact-us"
          class="group text-2xl font-extrabold text-redish hover:text-blackish"
        >
          Contact Us <div
            class="bg-blackish h-[2px] w-0 group-hover:w-full transition-all duration-500"
          >
          </div></a
        >
      </div>
      <a
        href="/login"
        class="bg-[red] h-[50px] w-[130px] text-base font-bold rounded-lg flex justify-center gap-1 items-center cursor-pointer transition-[8.0s] relative overflow-hidden text-[white] z-[1] before:absolute before:w-full before:h-[0%] before:z-[2] before:duration-1000 before:rounded-[50%_50%_0_0] before:left-0 before:bottom-0 hover:before:h-[180%] before:bg-[#0a303a]"
      >
        <p class="relative z-[3]">Login </p>
        <img
          src="/assets/transpaw.png"
          alt="TransPaw"
          class="relative z-[3] rotate-45 h-5"
        />
      </a>
    </div>
    <div
      class="relative bottom-6 w-screen h-[50px] bg-cover bg-no-repeat bg-[url('/assets/cloud.png')] drop-shadow-2xl"
    >
    </div>
    <!--cloud -->
  </nav>
</div>

<!-- Navigation Bar for mobile-->
<div id="body" class="bg-[#f4f1ec] relative shadow-2xl w-screen lg:hidden">
  <div class="w-screen h-[vh]">
    <div
      id="navbar"
      class="bg-[#ffffff] text-[#f04336] flex justify-between items-center h-[100px] text-xl"
    >
      <a
        class="bg-[url('../assets/Logo.png')] bg-cover h-[50%] w-[25%] ml-5 cursor-not-allowed"
      ></a>
      <button
        id="icon"
        class="bg-[url('/assets/hamburgericon.jpeg')] h-[40px] w-[40px] bg-cover bg-center mr-[30px]"
      ></button>
    </div>
  </div>
  <div
    class="relative z-20 bottom-6 w-screen h-[6.4vh] bg-cover bg-center bg-[url('/assets/cloud.png')] border-none"
  >
    <!--cloud -->
  </div>
</div>

<!--menu -->
<div
  id="Mobile_menu"
  class="h-screen w-[300px] fixed right-0 bg-white top-0 z-20 hidden"
>
  <div
    class="text-redish flex justify-around items-center h-[15vh] border-b-[1px] border-gray-400 border relative"
  >
    <a
      class="bg-[url('../assets/Logo.png')] bg-cover h-[40%] w-[33%] cursor-not-allowed relative left-[-5%]"
    ></a>
    <button
      id="cross"
      class="relative bottom-2 bg-[url('/assets/cross.png')] bg-cover bg-center bg-no-repeat h-[20px] w-[20px]"
      style="filter: drop-shadow(0 0 0.75rem black);"></button>
  </div>
  <a href="/" class="menu_element">Home</a>
  <a href="/dog-list" class="menu_element">Dog List</a>
  <a href="/contact-us" class="menu_element">Contact</a>
  <a href="/login" class="menu_element">Adopt</a>

  <div id="social_link" class="">
    <ul
      class="flex justify-center items-center space-x-2 px-[25px] py-[30px] w-[300px] h-[100px]"
    >
      <a href="https://www.google.com" style="font-size:24px" class="fa"
        >&#xf2c6;</a
      >
      <a style="font-size:24px" class="fa">&#xf16d;</a>
      <a style="font-size:24px" class="fa">&#xf16a;</a>
      <a style="font-size:24px" class="fa">&#xf09a;</a>
    </ul>
  </div>
</div>

<style>
  .menu_element {
    @apply flex items-center  h-[55px] px-[25px] py-[10px] text-[15px] text-[#0a303a] font-medium border-b-[1px] border-gray-400;
  }
</style>
<script is:inline>
  document.getElementById("icon").addEventListener("click", () => {
    document.getElementById("Mobile_menu").classList.toggle("hidden");
    // document.getElementById('body').classList.toggle('blur-sm');
  });
  document.getElementById("cross").addEventListener("click", () => {
    document.getElementById("Mobile_menu").classList.toggle("hidden");
    // document.getElementById('body').classList.toggle('blur-sm');
  });

  function handleScroll() {
    const navbar = document.getElementById("navbarpc");
    if (window.scrollY > 170) {
      navbar.classList.add(
        "fixed",
        "top-0",
        "z-20",
        "transition-transform",
        "duration-1000",
        "transform",
        "translate-y-0",
      );
      navbar.classList.remove("relative", "-translate-y-[25px]", "mt-[20px]");
    } else {
      navbar.classList.remove(
        "fixed",
        "top-0",
        "z-40",
        "transition-transform",
        "duration-1000",
        "transform",
        "translate-y-0",
      );
      navbar.classList.add("relative", "-translate-y-[25px]", "mt-[20px]");
    }
  }
  window.addEventListener("scroll", handleScroll);
  handleScroll();
</script>
