---

---

<!-- Navigation Bar for pc-->
<div class="hidden lg:block">
  <nav class="relative md:h-[16vh]">
  <div id="navbar"class="bg-[#ffffff] text-[#f04336] flex justify-around items-center md:h-[15vh] text-xl w-screen ">
    <a class="bg-[url('../assets/Logo.png')] bg-cover h-[50%] w-[8%] cursor-not-allowed"></a>

    <div id="link" class="flex gap-1 items-center">
      <a href="/" class="h-[40px] w-[100px] p-3 text-center font-extrabold hover:bg-[url('/assets/hoverbg.svg')] hover:bg-cover hover:bg-center hover:bg-no-repeat hover:text-white flex justify-center items-center hover:duration-500"> 
        Home
      </a>
      <a href="/dog-list" class="h-[50px] w-[125px] p-3 text-center font-extrabold hover:bg-[url('/assets/hoverbg.svg')] hover:bg-cover hover:bg-center hover:bg-no-repeat hover:text-white flex justify-center items-center hover:duration-500"> 
        Dog List
      </a>
      <a href="/blog-list" class="h-[40px] w-[100px] p-3 text-center font-extrabold hover:bg-[url('/assets/hoverbg.svg')] hover:bg-cover hover:bg-center hover:bg-no-repeat hover:text-white flex justify-center items-center hover:duration-500"> 
        Blog
      </a>
      <a href="/contact-us" class="h-[40px] w-[100px] p-3 text-center font-extrabold hover:bg-[url('/assets/hoverbg.svg')] hover:bg-cover hover:bg-center hover:bg-no-repeat hover:text-white flex justify-center items-center hover:duration-500"> 
        Contact
      </a>
    </div>
    <a href="/login" class="bg-[red] h-[50px] w-[130px] text-base font-bold rounded-lg flex justify-center gap-1 items-center cursor-pointer transition-[8.0s] relative overflow-hidden text-[white] z-[1] before:absolute before:w-full before:h-[0%] before:z-[2] before:duration-1000 before:rounded-[50%_50%_0_0] before:left-0 before:bottom-0 hover:before:h-[180%] before:bg-[#0a303a]">
      <p class="relative z-[3]">Adopt Me</p>
      <img src="/assets/transpaw.png" alt="TransPaw" class="relative z-[3] rotate-45 h-5"/>
    </a>
  </div>
  <div class="relative bottom-6 w-screen h-[6.4vh]  bg-cover bg-no-repeat bg-[url('/assets/cloud.png')] " >
    <!--cloud -->
  </div>
  </nav>
</div>


<!-- Navigation Bar for mobile-->
<div id="body" class="bg-[#f4f1ec] relative shadow-2xl w-screen lg:hidden">
  <div class="w-screen h-[vh]">
    <div id="navbar"class="bg-[#ffffff] text-[#f04336] flex justify-between items-center h-[100px] text-xl">
       <div id="logo" class="ml-5 w-[150px]">Claw </div>
       <button id="icon" class="bg-[url('/assets/hamburgericon.jpeg')] h-[40px] w-[40px] bg-cover bg-center mr-[30px]"></button>      </div>
  </div>
  <div class="relative z-20 bottom-6 w-screen h-[6.4vh] bg-cover bg-center bg-[url('/assets/cloud.png')] border-none" >
    <!--cloud -->
  </div>
</div>

<!--menu -->
<div id="Mobile_menu" class="h-screen w-[300px] fixed right-0 bg-white top-0 z-20 hidden">
  <div class="text-redish flex justify-around items-center h-[15vh] border-b-[1px] border-gray-400">
      <span id="logo" class="text-xl h-[37px] w-[150px]">CLaw</span>
      <button id="cross" class="relative bottom-2 bg-[url('/assets/cross.png')] bg-cover bg-center bg-no-repeat h-[20px] w-[20px]" style="filter: drop-shadow(0 0 0.75rem black);"></button>
  </div>
  <a href="/" class="menu_element">Home</a>
  <a  href="/dog-list" class="menu_element">Dog List</a>
  <a href="/contact-us" class="menu_element">Contact</a>
  <a href="/login" class="menu_element">Adopt</a>

  <div id="social_link" class="">
    <ul class="flex justify-center items-center space-x-2 px-[25px] py-[30px] w-[300px] h-[100px]">
        <a href="https://www.google.com" style="font-size:24px" class="fa">&#xf2c6;</a> 
        <a style="font-size:24px" class="fa">&#xf16d;</a>
        <a style="font-size:24px" class="fa">&#xf16a;</a>
        <a style="font-size:24px" class="fa">&#xf09a;</a>
    </ul>
  </div>
      
</div>

<style>
  .menu_element{
    @apply flex items-center  h-[55px] px-[25px] py-[10px] text-[15px] text-[#0a303a] font-medium border-b-[1px] border-gray-400 ;
  }                                                                                       

</style>
<script is:inline>
  document.getElementById('icon').addEventListener('click', () => {
      document.getElementById('Mobile_menu').classList.toggle('hidden');
      // document.getElementById('body').classList.toggle('blur-sm');      
  });
  document.getElementById('cross').addEventListener('click', () => {
      document.getElementById('Mobile_menu').classList.toggle('hidden');
      // document.getElementById('body').classList.toggle('blur-sm');      
  });
</script>